{% extends "base_generic.html" %}

{% block content %}
<div class="container d-flex flex-column align-items-center mt-5">
    <div class="form-content w-50 p-4 border rounded shadow-sm bg-light">
        <h2 class="text-center mb-4">Change Password</h2>
        <form method="post" novalidate>
            {% csrf_token %}
            
            {% if form.errors %}
                <div class="alert alert-danger">
                    <strong>There were some errors:</strong>
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            
            <div class="form-group">
                <label class="small mb-1 font-weight-bold">Current Password:</label>
                {{ form.old_password }}
            </div>
            <div class="form-group">
                <label class="small mb-1 font-weight-bold">New Password:</label>
                {{ form.new_password1 }}
            </div>
            <div class="form-group">
                <label class="small mb-1 font-weight-bold">Confirm New Password:</label>
                {{ form.new_password2 }}
            </div>
            
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-dark btn-lg w-100">Change Password</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
