{% extends "base_generic.html" %}

{% block title %}{% endblock title %}

{% block content %}
    <div class="container d-flex flex-column align-items-center">
        <div class="row my-3 p-3">
            <img class="rounded-circle account-img" src="{{ user.profile.avatar.url }}" 
                 style="cursor: pointer; width: 120px; height: 120px; object-fit: cover; border: 2px solid #333;"/>
        </div>

        {% if user_form.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div id="form_errors">
                    {% for key, value in user_form.errors.items %}
                        <strong>{{ value }}</strong>
                    {% endfor %}
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        <div class="form-content w-50">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label class="small mb-1">Username:</label>
                    {{ user_form.username }}
                </div>
                <div class="form-group">
                    <label class="small mb-1">Email:</label>
                    {{ user_form.email }}
                </div>
                <div class="form-group">
                    <a href="{% url 'password_change' %}">Change Password</a>
                    <hr>
                    <label class="small mb-1">Change Avatar:</label>
                    {{ profile_form.avatar }}
                </div>
                <div class="form-group">
                    <label class="small mb-1">Bio:</label> 
                    {{ profile_form.bio }}
                </div>
                <br>
                <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
                <button type="reset" class="btn btn-dark btn-lg">Reset</button>
            </form>
        </div>
    </div>
{% endblock content %}
